/* KUKES */
#headerContainer{
    font-size: 15px;
    background-color: #DAD7CD;
}

#topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signInNav{
    margin-left: 750px;
}

#pageTitle{
    text-align: center;
}

#searchBarContainer{
    text-align: center;
}

#search-bar{
    width: 50%;
    height: 30px;
}

#search-bar-button{
    height: 30px;
    margin-bottom: 20px;
}

#bottomHeader{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* FAHAD */