#headerContainer{
    font-size: 15px;
    background-color: #DAD7CD;
}

#topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signInNav{
    margin-left: 750px;
}

#pageTitle{
    text-align: center;
}

#searchBarContainer{
    text-align: center;
}

#search-bar{
    width: 50%;
    height: 30px;
}

#search-bar-button{
    height: 30px;
    margin-bottom: 20px;
}

#bottomHeader{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#product-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#product-listing-container{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.product-filter{
    width: 220px;
    padding: 1rem;
    border: 1px solid black;
}

.filters{
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}