#headerContainer{
    font-size: 15px;
    background-color: #DAD7CD;
}

#topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pageTitle{
    text-align: center;
}

#searchBarContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-bar{
    width: 50%;
    height: 30px;
}

#search-bar-button{
    height: 30px;
    margin-bottom: 20px;
}

#bottomHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bottomHeader a{
    height: 100%;
    width: 12%;
}

#product-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#product-listing-container{
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.product-filter{
    width: 220px;
    padding: 1rem;
    border: 1px solid black;
}

.filters{
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

#cart-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cartItemsTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shopping-cart-container{
    display: block;
    border: 1px solid black;
    margin-right: 5rem;
    margin-left: 5rem;
}

.shopping-cart-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.shipping-info{
    display: block;
    border: 1px solid black;
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 2rem;
}

.shipping-elems{
    width: 100%;
}

#shipping-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#checkoutContainer{
    padding-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

#totalContainer{
    padding-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

#totalTxt{
    width: 20rem;
}

#welcomeSection{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#carouselExampleIndicators{
    width: 800px;
    margin: 40px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid black;
}

.carousel-inner img {
    height: 500px;
}

.carousel-control-prev-icon{
    filter: invert(1);
}

.carousel-control-next-icon{
    filter: invert(1);
}

.carousel-indicators {
    background-color: black;
}


#featuredTitle{
    text-align: center;
}
